<h4 class="text-center">Registe-se e mostre seu pet no mundo!!</h4>

<form class="form mt-4">
  <div class="form-group">
    <input placeholder="email" class="form-control mb-3"/>
  </div>
  <div class="form-group">
    <input placeholder="Nome completo" class="form-control mb-3"/>
  </div>
  <div class="form-group">
    <input placeholder="Usuario" class="form-control mb-3"/>
  </div>
  <div class="form-group">
    <input type="password" placeholder="Senha" class="form-control mb-3"/>
  </div>
  <button class="btn btn-primary btn-block">Cadastrar</button>
</form>
<p>Ja é um usuário? <a [routerLink]="['']">Entre aqui</a></p>
